window,
body {
  background-color: #000000;
}

.container {
  width: 100%;
}

#tabs {
  margin-top: 50px;
  margin-bottom: 50px;
}

#display {
  display: block;
  text-align: center;
}
#main-display{
  display: block;
  text-align: center;
  width: 100%;
}
#sec-display {
  margin-top: 20px;
}

#gallery {
  background: #ffffff;
}
